
@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}
/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

table{
  width:100% !important;
  padding:5px;
}

*{
	margin: 0px; 
	padding: 0px; 
  box-sizing: border-box;
  font-family: Poppins-Regular;
}

.font-14{
  font-size: 14px !important;
}

body, html{
	height: 100%;
  font-family: Poppins-Regular;
  font-size:.83rem;
}

p{
	font-family: Poppins-Regular;
	font-size: 13px;
	line-height: 1.6;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

/*---------------------------------------------*/

textarea:focus, input:focus, select:focus{
  border-color: #17a2b8 !important;
  
  box-shadow: 1 5px 5px 0px #17a2b8;
  -moz-box-shadow: 1 5px 5px 0px #17a2b8;
  -webkit-box-shadow: 1 5px 5px 0px #17a2b8;
  -o-box-shadow: 1 5px 5px 0px #17a2b8;
  -ms-box-shadow: 1 5px 5px 0px #17a2b8;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/

.sidebar_img_style{
	height:25px !important; 
	width:25px !important; 
	opacity:.9;
}
.img_logo_style{
	max-height:100px !important; 
	max-width:100px !important; 
	opacity:.9;
}
